@model MyBlog.Models.AccountModel.PostViewModel
<link rel="stylesheet" href="~/css/articleEditForm.css" asp-append-version="true">

<div class="post-container">
    <div class="post-header">
        <h5>Тэги по статье </h5>
        <div class="post-tags">
           
            @foreach (var tag in Model.Tags)
            {
                <div class="post-tag">
                    <p> @tag.Name </p> 
                    <a id="edit_tag" asp-action="EditTag" asp-controller="ArticleManager" asp-route-id="@tag.Id">Изменить</a>
                    <form asp-controller="ArticleManager" asp-action="DeleteTag" asp-route-id="@tag.Id" method="post">
                        <button type="submit" class="save-btn">
                            Удалить
                        </button>
                    </form>
                    
                </div>
            }
            <div class="tag-form">
                <form asp-controller="ArticleManager" asp-action="AddTag" method="post">                 
                    <input name="modelID" type="" asp-for="@Model.Id" style="display: none" />
                    <label asp-for="@Model.modelTag.Name">Добавить тэг</label><br />
                    <span asp-validation-for="@Model.modelTag.Name" class="text-danger"></span>
                    <input type="text" asp-for="@Model.modelTag.Name" />
                    <button type="submit" class="save-btn">
                        Добавить
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="post-form">
        <form asp-action="EditArticle" asp-controller="ArticleManager" asp-route-id="@Model.Id">
            <div style="display: none">
                <input type="" asp-for="UserId" />
                <input type="" asp-for="DatePosted" />
            </div>
            <div class="post-title">
                <label asp-for="Title">Тема статьи</label><br />
                <span asp-validation-for="Title" class="text-danger"></span>
                <input type="text" asp-for="Title" />
            </div>
            <div class="post-desription">
                <label asp-for="Description">Текст</label><br />                
                <textarea asp-for="Description" placeholder="Description" rows="6" cols="30"></textarea>
            </div>
            <button type="submit" class="save-btn">
                Сохранить
            </button>
        </form>
    </div>      
</div>
<a   href='javascript: history.length > 1 ? history.go(-1): null'>Назад</a>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>


