@model IEnumerable<PostViewModel>;
@using MyBlog.Models.AccountModel;
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/css/posts.css" asp-append-version="true">
<div class="posts">
    <div class="posts-header">
        <div class="posts-article"> <h2>Добро пожаловать в наш блог</h2></div>
        <div class="posts-tag"> <h6>JavaSript</h6></div>
    </div>
    <p>Здесь вы можете оставлять ваши взгляды на программирование по разным направлениям</p>
    <div class="posts-comments">
        <div class="comments-comment">
            <table>
                <tr>
                    <td>
                        <p>А также оставлять свои комментарии</p>

                    </td>
                    <td><a class="button-delete" href="">delete</a></td>
                </tr>
                <tr>
                    <td><span>— Ваш автор, <time id="currentTime"></time></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <form asp-controller="Blog" asp-action="CreateComment" method="post">
            <div class="comment">
                <div class="comments-input">
                    <input type="hidden" name="postId" value="" />
                    <input type="text" name="content" placeholder="Add a comment..." />
                </div>
                <div class="comments-button">
                    <button type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
@if(Model !=null)
{
    @foreach (var post in Model)
    {
        <div class="comments">
            <h2>@post.Title</h2>
            <p>@post.Description</p>
            <p>Posted on: <span>@post.DatePosted.ToString("yyyy-MM-dd")</span></p>
            <div class="comments">
                <h3>Comments:</h3>
                <ul>
                    @foreach (var comment in post.Comments)
                    {
                        <li>
                            <p>@comment.Content</p>
                            <p><span>— @comment.Author, @comment.DatePosted.ToString("yyyy-MM-dd")</span></p>
                        </li>
                    }
                </ul>
                <form asp-controller="Blog" asp-action="CreateComment" method="post">
                    <input type="hidden" name="postId" value="@post.Id" />
                    <input type="text" name="author" placeholder="Your name" />
                    <input type="text" name="content" placeholder="Add a comment..." />
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
    }
}

<script>
    var timeElement = document.getElementById('currentTime');
    setInterval(function () {
        var currentTime = new Date();
        timeElement.textContent = currentTime.toLocaleTimeString();
    }, 1000);
</script>

<!-- <div class="post">
    <h2>Добро пожаловать в наш блог</h2>
    <p>Здесь вы можете оставлять ваши взгляды на программирование по разным направлениям</p>
    <div class="postsTag"> JavaSript </div>
    <div class="comments">
        <h3>Comments:</h3>
        <ul>
          <li>
              <p>А также оставлять свои комментарии</p>
                <p><span>— Ваш автор, <time id="currentTime"></time></span></p>
          </li>
        </ul>
        <form asp-controller="Blog" asp-action="CreateComment" method="post">
            <input type="hidden" name="postId" value="" />
            <input type="text" name="author" placeholder="Your name" />
            <input type="text" name="content" placeholder="Add a comment..." />
            <button type="submit">Post</button>
        </form>
    </div>
</div>  -->
