@{
    var myModel = ViewBag.MyModel;
    <script>document.getElementById('vrty').textContent= @myModel</script>
}
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog</title>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/MyBlog.styles.css" asp-append-version="true" />

</head>
<body>
    <header class="header">
        <div class="header__section">
            <div class="header__item logo">
                <img src="~/img/logo.png" alt="MyBlog">
            </div>
            <div class="header__item search">
                <input type="search">
            </div>
        </div>
        <div class="header__section">
            <div class="header__item backhome"><a id="backhome" asp-controller="Home" asp-action="Index">Главная</a></div>
            <div class="header__item autorhise_menu">
                @if (User.FindFirst("userPhoto") != null)
                {
                    <img class="userPhoto" src="@User.FindFirst("userPhoto").Value" alt="">
                }
                else
                {
                    <img class="userPhoto" src="~/img/user.png" alt="">
                }
                <div class="userData">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5>@User.FindFirst(ClaimTypes.Email).Value</h5>
                    }
                    else
                    {
                        <h5 ></h5>
                    }
                    <h6><a asp-controller="AccountManager" asp-action="Login">Войти</a></h6>
                    <h6><a asp-controller="AccountManager" asp-action="LogOut">Выйти</a></h6>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div class="menu" id="menu">
            <button class="menu-btn" id="menu-btn">
                <span></span><span></span><span></span>
            </button>
            <nav class="menu-list" id="menu-list">
                <a asp-area="" asp-controller="Home" asp-action="Index">MyBlog</a>
                <a asp-area="" asp-controller="AccountManager" asp-action="UserPage">Моя страница</a>
                <a href="#">Контакты</a>
                <a href="#">Портфолио</a>
            </nav>
        </div>
        <div class="content" id="content">
            <section class="main">          
                    <main role="main" class="renderBlock">
                        @RenderBody()
                    </main>               
            </section>
            <section class="news">
                <h2>Новости</h2>
            </section>
            <section class="contacts">
                <h2>Контакты</h2>
            </section>
            <section class="portfolio">
                <h2>Портфолио</h2>
            </section>
        </div>
    </div>
    <footer class="footer">
        <div>
            &copy; 2024 - MyBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
