@{
    ViewData["Titele"] = "UserPage";
}
@using MyBlog.Models.AccountModel;
@model MyBlog.Models.AccountModel.MainViewModel;

<link rel="stylesheet" href="~/css/userpage.css">
<link rel="stylesheet" href="~/css/userPageArticle.css">
<div class="mainPage">
    <div class="profile">
        <h1>Профиль</h1>
        <img src="@Model.Image" alt="Аватар пользователя">
        <p>Имя: <span>@Model.FirstName</span></p>
        @if (Model.DateOfTheBirth != null)
        {
            <p>Дата рождения: <span>@Model.DateOfTheBirth.Value.ToShortDateString();</span></p>
        }
        <p>О себе: <span>@Model.About</span></p>
        <form method="get" asp-controller="AccountManager" asp-action="UserEdit">
            <input class="editUserProfileButton" type="submit" value="Редактировать профиль" />
        </form>
        <div class="createArticlebtn">
            <a href="#" class="createArticlelink" id="createArticlebtn">Создать статью</a>
        </div>
    </div>
    @if(Model.Posts !=null)
    {
        <div class="article-container">
            @foreach (var post in Model.Posts)
            {
                <div class="article-header">
                    <h2 class="article-title">Заголовок статьи</h2>
                    <div class="article-actions">
                        <a id="open_article" asp-action="OpenArticle" asp-controller="ArticleManager" asp-route-id="@post.Id">Открыть</a>
                        <a id="edit_article" asp-action="EditArticle" asp-controller="ArticleManager" asp-route-id="@post.Id">Изменить</a>
                        <form asp-controller="ArticleManager" asp-action="DeleteArticle" asp-route-id="@post.Id" method="post">
                            <button type="submit">
                                Удалить статью
                            </button>
                        </form>
                    </div>
                </div>
                <div class="article-tags">
                    @if (post.Tags != null)
                    {
                        foreach (var tag in post.Tags)
                        {
                            <span class="article-tag">@tag.Name</span>
                        }
                    }
                </div>
                <p class="article-date">Дата публикации: @post.DatePosted.ToString("yyyy-MM-dd")</p>
                <p>
                    @post.Description
                </p>

                <div class="article-comments">
                    @if (post.Comments != null)
                    {
                        int i = 0;
                        @if (i < 2)
                        {
                            <h3>Комментарии:</h3>
                            <div class="comment">
                                @foreach (var comment in post.Comments)
                                {
                                    <p class="comment-author">@comment.Author</p>
                                    <p class="comment-content">@comment.Text</p> <p class="comment-content">@comment.CreatedDate.ToString("yyyy-MM-dd")</p>
                                }
                            </div>
                            i++;
                        }
                        else
                        {
                            break;
                        }
                    }
                </div>

            }      
        </div>
       
    } 
    <partial name="_ArticlePartial" model="Model.Post" />
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById('createArticlebtn').addEventListener("click", function () {

            document.getElementsByClassName('partialPost')[0].style.display = "block";
        })

    })
</script>

